$darkpink: #FF6262;

.header_text {
  color: pink;
}

.intro {
  color: black;

  h2 {
    color: $darkpink;
  }
}

.nd-title {
  color: black;

  h2 {
    color: pink;
  }
}

h3 {
  color: $darkpink;
}

.grid-row {
  background-color: white;
}

footer {
  color: black;
}

.social-icon {
  color: black;
}
