.header_text {
  color: pink;
}

.intro, .nd-title {
  color: black;
}

.intro h2 {
  color: #FF6262;
}

.nd-title h2 {
  color: pink;
}

h3 {
  color: palevioletred;
}

.grid-row {
  background-color: white;
}

footer {
  color: black;
}

.social-icon {
  color: black;
}
