.header_text { color: pink; }

.intro { color: black; }

.intro h2 { color: #FF6262; }

.nd-title { color: black; }

.nd-title h2 { color: pink; }

h3 { color: #FF6262; }

.grid-row { background-color: white; }

footer { color: black; }

.social-icon { color: black; }
