$darkpink: #FF6262;

.header_text {
  color: pink;
}

.intro,
.nd-title {
  color: black;
}

.intro h2 {
  color: $darkpink;
}

.nd-title h2 {
  color: pink;
}

h3 {
  color: $darkpink;
}

.grid-row {
  background-color: white;
}

footer {
  color: black;
}

.social-icon {
  color: black;
}
