body { color: white; background-color: black; }

.header_text { color: gold; }

.intro, .nd-title { color: white; }

h2 { color: gold; }

.grid-row { background-color: black; }

footer { color: white; }

.social-icon { color: white; }
