.header_text {
  color: blue;
}

.intro, .nd-title {
  color: black;
}

.intro h2 {
  color: blue;
}

.nd-title h2 {
  color: lightblue;
}

h3 {
  color: blue;
}

.h2 {
  padding-top: 3rem;
  padding-left: 4rem;
  color: blue;
}

.grid-row {
  background-color: white;
}

.social-icon {
  color: black;
}
