.header_text { color: blue; }

.intro { color: black; }

.intro h2 { color: blue; }

.nd-title { color: black; }

.nd-title h2 { color: lightblue; }

h3 { color: blue; }

.h2 { padding-top: 3rem; padding-left: 4rem; color: blue; }

.grid-row { background-color: white; }

footer { color: black; }

.social-icon { color: black; }
