$buttongold: #FFD700;
@mixin margin0 {
  margin: 0;
}
$title: "Poppins", sans-serif;
$subtitle: "Libre Baskerville", serif;
@mixin fontdefine($fontsize,$fontfamily) {
  font-size: $fontsize;
  font-family: $fontfamily;
}

html {
  scroll-behavior: smooth;
}

body {
  @include fontdefine(1rem,$title);
  @include margin0;
  padding: 0;
}

#top {
  background-color: black;
}

h1 {
  @include margin0;
  @include fontdefine(3rem,$title);
}

h2 {
  @include margin0;
  @include fontdefine(1.7rem,$title);
  font-weight: bold;
}

h3 {
  @include margin0;
  @include fontdefine(1.2rem,$subtitle);
}

ol,
p,
ul {
  @include fontdefine(1.1rem,'Nunito');
  text-align: left;
}

ol,
ul {
  @include margin0;
  padding-left: 1.5rem;
}

img {
  height: auto;
  max-width: 100%;
}

.hd1 {
  @include fontdefine(5rem,$title);
  font-variant: small-caps;
  font-weight: bold;
  color: white;
  @include margin0;
  padding-left: 1.5rem;
  letter-spacing: 0.2rem;

  & a {
    @include fontdefine(2rem,$title);
    font-variant: small-caps;
    font-weight: bold;
    color: black;
    @include margin0;
    letter-spacing: 0.2rem;
    text-decoration: underline;

    &:hover {
      color: gold;
    }
  }
}

.hd2 {
  font-weight: bold;
  font-size: 2.2rem;
  padding-right: 10px;
  padding-bottom: 0.2rem;
  color: #FFD700;
  margin-bottom: 0;
  font-variant: small-caps;
  border-style: none;
}

nav {
  list-style-type: none;
  @include margin0;
  padding: 2rem;
  overflow: hidden;
  opacity: 1;

  > li {
    float: left;
  }
}

li {
  a {
    display: block;
    color: gold;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }

  .active {
    color: white;
  }
}

a {
  @include fontdefine(1rem,$title);
  font-weight: 400;
  line-height: 1.3rem;
  text-align: left;
  text-decoration: none;
  color: #8789C0;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  background-color: black;
  color: white;
}

button {
  background-color: black;
  color: $buttongold;
  font-weight: bold;
  padding: 0.6rem 1.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: $buttongold;
    color: black;
  }
}
@mixin section-style {
  padding: 1.5rem;
  border-style: solid;
  border-width: 0.5px;
  border-color: grey;
}

.grid-row {
  background-color: #FFF0F5;
  @include section-style;
}

.grid-row-code {
  @include section-style;
  background-color: #f2f2f2;
}

.grid-structure {
  border: 1px solid black;
  text-align: center;
}

.color-container {
  display: inline-block;
  height: 5rem;
  width: 10rem;
}

.container {
  margin: 1rem;
}

.image-link {
  position: relative;
  width: 100%;
  cursor: pointer;

  &:hover {
    .overlay {
      opacity: 1;
    }
  }
}

.image {
  display: block;
  max-width: 100%;
  height: auto;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.678);
}

.text {
  color: white;
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
}
