/* Font and box styling for different tag elements */
header {
  width: 100%
}

nav {
  position: fixed;
  padding: 2rem;
  z-index: 999;
}

li>a {
  font-size: 2rem;
  letter-spacing: .2rem;
}

.divider {
  background-color: black;
  height: 2.5px;
  width: 100%;
}

.content {
  display: block;
  background-color: white;
}

.intro_name {
  color: white;
  font-size: 4rem;
  letter-spacing: .3rem;
}

.splash-image {
  display: flex;
}

#splash {
  display: flex;
  width: 100%;
  filter: brightness(60%);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  display: flex;
  flex-direction: column;
}

.grid-row {
  border-style: none !important;
}

#about-content, #portfolio-content {
  display: flex;
  background-color: #FFF0F5;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;
}

#about-content {
  background-color: black;
  color: white;
}

#h3-test {
  font-size: 1.1em;
  color: gold;
}

.about {
  color: gold;
  font-size: 5rem;
}

#bio {
  max-width: 540px;
  text-align: center;
}

footer>h1 {
  color: black;
  text-align: center;
}

.link {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  margin: auto !important;
}
